button {
  background-color: #6c757d;
  padding: 10px;
  box-shadow: 3px 2px #888888;
  border-radius: 8px;
  border-style: solid #000;
  color: #fff;
  font-weight: 600;
}

div {
  display: grid;
  align-items: center;
}

h1,
h4 {
  font-weight: lighter;
  text-align: center;
}
